<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Todos</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container mt-3">
      <h2>To-do List</h2>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">User Name</th>
            <th scope="col">Title</th>
            <th scope="col">Due Date</th>
            <th scope="col">Category</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody id="todo-table-body">
          <!-- DATA FROM API -->
          <tr>
            <td colspan="6">...</td>
          </tr>
        </tbody>
      </table>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>

    <!-- <script src="/todos.js"></script> -->
    <script>
      function deleteTodo(id) {
        const isConfirmed = confirm('Are you sure want to delete this todo?');

        if (isConfirmed === true) {
          fetch(`/api/todos/${id}`, {
            method: 'DELETE',
            headers: {
              'Content-Type': 'application/json',
            },
          }).then((response) => {
            if (response.ok) {
              alert('todo deleted');
              getTodos();
            }
          });
        }
      }

      // Proses pemanggilan data dari API/backend
      function getTodos() {
        fetch('/api/todos')
          .then((response) => response.json())
          .then((response) => {
            const todoTableBody = document.getElementById('todo-table-body');

            todoTableBody.innerHTML = '';

            response.forEach((todo, index) => {
              // buat element <tr> baru
              const row = document.createElement('tr');

              row.innerHTML = `
              <tr>
                <th scope="row">${index + 1}</th>
                <td>${todo.user_name}</td>
                <td>${todo.title}</td>
                <td>${todo.due_date}</td>
                <td>${todo.category_name}</td>
                <td>
                  <button class="btn btn-sm btn-warning">Edit</button>
                  <button class="btn btn-sm btn-danger" onclick="deleteTodo(${
                    todo.id
                  })">Delete</button>
                </td>
              </tr>
            `;

              todoTableBody.appendChild(row);
            });
          })
          .catch((error) => {
            console.error('Error fetching todos:', error);
          });
      }

      getTodos();
    </script>
  </body>
</html>
